{
  "extends": [
    "@jedwards1211/eslint-config-typescript",
    "eslint-config-prettier"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-use-before-define": 0
  }
}
